<%= form_for([@image, @accessor]) do |f| %>
  <% if @accessor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accessor.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul>
      <% @accessor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<div class="field", class="actions">
  User_ID: <%= f.text_field :user_id %>
  <%= f.submit "New Accessor" %>
</div>


<% end %>
