
<h1><%= @image.filename %>'s Accessors </h1>

<table>
  <thead>
    <tr>
      <th>User_ID</th>
      <th>Image_ID</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessors.each do |accessor| %>
      <tr>
        <td><%= accessor.user_id %></td>
        <td><%= accessor.image_id %></td>
        <td><%= link_to 'Edit', edit_accessor_path(accessor) %></td>
        <td><%= link_to 'Destroy', accessor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accessor', new_image_accessor_path %> |
<%= link_to "Back", @image %>
