<style>
div {
    background-color: white;
    width: 355px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
</style>

<style>
body {
    background-image: url("http://i.imgur.com/kLrAW0x.jpg");
    background-color: #cccccc;
}
</style>


<div>
<h1>Word Ladder</h1>
<br>
<p>**Fill in each step with a word that differs from the word in the previous step by no more than one character.<br><br> 
**Once you reach a word that differs from the goal by only one letter, you can stop and leave the remainder of the steps empty.</p>
<br>
<br>
    <%= form_tag(query_path, method: "get") do  %>
    <%= hidden_field_tag :start_word, @start_word %>
    <%= hidden_field_tag :end_word, @end_word %>
    
    <%= label_tag(:start_word, "Step 0: ") %>
    <%=@start_word%>
<br>
    <%= label_tag(:step1, "Step 1: ") %>
    <%= text_field_tag(:step1) %>
<br>
    <%= label_tag(:step2, "Step 2: ") %>
    <%= text_field_tag(:step2) %>
<br>
    <%= label_tag(:step3, "Step 3: ") %>
    <%= text_field_tag(:step3) %>
<br>
    <%= label_tag(:step4, "Step 4: ") %>
    <%= text_field_tag(:step4)%>
<br>
    <%= label_tag(:step5, "Step 5: \n") %>
    <%= text_field_tag(:step5) %>
    <%= submit_tag("Check Answer\n") %>
<% end %>

    <%= label_tag(:end_word, "Goal: ") %>
    <%=@end_word%>
<br>
<br>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
</div>
