<style>
div {
background-color: white;
width: 355px;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
</style>
<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: #cccccc;
}
</style>

<div>
<h1>Listing high_scores</h1>

<table border ="1" color="black">
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th>Score</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @high_scores.each do |high_score| %>
      <tr>
        <td><%= high_score.user %></td>
        <td><%= high_score.game %></td>
        <td><%= high_score.score %></td>
        <td><%= link_to 'Show', high_score %></td> 
        <td><%= link_to 'Edit', edit_high_score_path(high_score) %></td>
        <td><%= link_to 'Destroy', high_score, method: :delete, data: { confirm: "Are you sure you want to delete #{high_score.user}'s score?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'New High score', controller: "high_scores", action: "new" %>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
</div>
