<style>
div {
background-color: white;
width: 355px;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
</style>
<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: #cccccc;
}
</style>

<div>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @high_score.user %>
</p>

<p>
  <strong>Game:</strong>
  <%= @high_score.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @high_score.score %>
</p>

<%= link_to 'Show All High Scores', high_scores_path %>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
</div>
