<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field", class="action">

    <%= f.file_field :uploaded_file %>
<br>
<br>
    | <%= f.label :flag, "Public"%><%= f.radio_button :flag, "0" %> |
    <%= f.label :flag, "Private" %><%= f.radio_button :flag, "1" %> | <font color="red">SET FLAG!</font>
<br>
<br>
<br>
<br>

    <%= f.submit %>
  </div>

<br>
<% end %>

