
<h1>Social Image Network</h1>
#app/views/images/index.html.erb
<h2>Listing Images</h2>

<% if current_user == nil %>  
<p>Dislaying public images only - please sign-up or log in. </p>
<table cellpadding="4" border ="1">
  <thead>
    <tr>
      <th>Image</th>
      <th>Filename</th>
      <th>Flag</th>
      <th>User_ID</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <% @images.each do |image| %>
    <tr>
      <% if image.flag == "0" #public %>
      <td><%= image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename %></td>
      <td><%= image.filename %></td>
      <td><%= image.flag %></td>
      <td><%= image.user_id %></td>
      <td><%= link_to 'Show', image %></td>
      <!-- link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td -->
      <% end %>
    </tr>
  <% end %>
  </tbody>

</table>




<% else %>
<p>NOT IMPLEMENTED: Display all public and accessible private photos</p>
<p>Does show public and owned (private & public) photos</p>
<table cellpadding="4" border ="1">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Flag</th>
      <th>User_ID</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <% @images.each do |image| %>
    <tr>
      <% if image.flag == '0' || image.user_id == current_user.id #public and owned (which includes private) images %>
      <td><%= image.filename %></td>
      <td><%= image.flag %></td>
      <td><%= image.user_id %></td>
      <td><%= link_to 'Show', image %></td>
      <!--%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td -->
      <% end %>
    </tr>
  <% end %>
  </tbody>

</table>




<!-- upload_photo -->

<% end %>

