<h1>Social Image Network</h1>


<% if current_user == nil %>  <!-- public view -->
<p>Listing public photos only, please log in or sign up.</p>
<br>

  <h2>Public Images</h2>
  <table cellpadding="4" border ="1">
    <tbody>
      <tr>
      <% @images.each do |image| %>
        <% if image.flag == "0" %>
        <td><a href="<%= image_path(image) %>"><%= image_tag image.filename, size: "200x200", alt: image.filename%></a></td>
        <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>



<% else %> <!-- Logged in view -->
<p>Displaying all public, owned, and accessible photos</p>

  <h2>Public Images</h2>
  <table cellpadding="4" border ="1">
    <tbody>
      <tr>
      <% @images.each do |image| %>
        <% if image.flag == "0" %>
          <td><a href="<%= image_path(image) %>"><%= image_tag image.filename, size: "200x200", alt: image.filename%></a></td>
        <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>

<!--
  <h2>Accessible Images</h2>
  <table cellpadding="4" border ="1">
    <tbody>
      <tr>
      <!--% @images.each do |image| %-->
      <!-- for i in 0..@users.length-1 %--> 
        <!--% if current_user.id == image.accessors[i].id %-->
        <td><a href="<!--%= image_path(image) %-->"><!--%= image_tag image.filename, size: "200x200", alt: image.filename%--></a></td>
        <!--% end %-->
      <!--% end %-->
      <!--% end %-->
      </tr>
    </tbody>
  </table>
-->

  <h2>My Images</h2>
  <table cellpadding="4" border ="1">
  <tbody>
    <tr>
    <% @images.each do |image| %>
    <% if image.user_id == current_user.id %>
      <td><a href="<%= image_path(image) %>"><%= image_tag image.filename, size: "200x200", alt: image.filename%></a></td>
    <% end %>
    <% end %>
    </tr>
  </tbody>
  </table>


<% end %>
<br>
<br>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">AWS Home Page</a>

