<style>
#body {
background-color: white;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
#article {
background-color:white;
width: 100%;
border: 25px solid navy;
padding: 25px;
margin: 25px;
}

th {
    text-align: left;
}
</style>
<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: grey;
}
</style>


<div>
<h1>Social Image Network</h1>


<% if current_user == nil %>  <!-- public view -->

<p>Listing public photos only, please log in or sign up.</p>
<br>

  <h2>Public Images</h2>
  <table cellpadding="4" border ="1">
    <tbody>
    <tr>
      <% @images.each do |image| %>
        <% if image.flag == "0" %>
          <td><a href="<%= image_path(image) %>"><%= image_tag image.filename, size: "200x200", alt: image.filename%></a></td>
        <% end %>
      <% end %>

    </tr>
    </tbody>
  </table>

<% else %> <!-- Logged in view -->

<p>Displaying all public, owned, and accessible photos</p>
  
  <h3><font color="green"> + <%= link_to "Upload New Image", new_image_path %></font><h3>
  <br>
  <br>
  <h2>Public Images</h2>
  <table cellpadding="4" border ="1">
    <tbody>
      <tr>
      <% @images.each do |image| %>
        <% if image.flag == "0" %>
          <td><a href="<%= image_path(image) %>"><%= image_tag image.filename, size: "200x200", alt: image.filename%></a></td>
        <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

  <h2>My Images</h2>
  <table cellpadding="4" border ="1">
  <tbody>
    <tr>
    <% @images.each do |image| %>
    <% if image.user_id == current_user.id %>
      <td><a href="<%= image_path(image) %>"><%= image_tag image.filename, size: "200x200", alt: image.filename%></a></td>
    <% end %>
    <% end %>
    </tr>
  </tbody>
  </table>
  <br>
  <br>
  <h2>Accessible Images</h2>
  <table cellpadding="4" border ="1">
    <tbody>
      <tr>
      <% @images.each do |image| %>
      <% image.accessors.each do |accessor| %>
        <% if accessor.user_id == current_user.id %>
          <td><a href="<%= image_path(image) %>"><%= image_tag image.filename, size: "200x200", alt: image.filename%></a></td>
        <% end %>
      <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>

<% end %>

<br>
<br>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">AWS Home Page</a>
</div>
