
<% if !current_user %>

  <% if @image.flag == "1" %>
    <br>
    <p><font color="red">You do not have permission to view this photo.</font></p>
    <br>
  <% else %>

  <h1><%= image_tag root_url + "/images/" + @image.filename, size: "400x400", alt: @image.filename %></h1>    
  <h2>Filename: <%= @image.filename %></h2>
  <p>Image Owner: <%= @users[@image.user_id-1].name %><br>Owner Email: <%= @users[@image.user_id-1].email %></p>
  <br>  
  <h3><%= @image.filename %>'s Tags </h3>
  <table cellpadding="5" border=1>
    <thead>
      <tr>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <% @image.tags.each do |tag| %>
        <% if !tag.new_record? %>
        <tr>
          <td><%= tag.tag %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>


<% if current_user %>

  <% if current_user.id != @image.user_id && @image.flag == '1' %>
    <br>
    <p><font color="red">You do not have permission to view this photo.</font></p>
    <br>
  <% else %>
    <%= image_tag root_url + "/images/" + @image.filename, size: "400x400", alt: @image.filename %>
  
    <h2>Filename: <%= @image.filename %></h2>
    <p>Image Owner: <%= @users[@image.user_id-1].name %><br>Owner Email: <%= @users[@image.user_id-1].email %></p>
    <br>

    <% if @image.user_id == current_user.id %>
    <%= render 'form' %><br>
    <% end %>


    <h3><%= @image.filename %>'s Tags </h3>
    <table cellpadding="5" border=1>
      <thead>
        <tr>
          <th>Tags</th>
          <% if @image.user_id == current_user.id %>
          <th colspan="2">Owner's Options</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @image.tags.each do |tag| %>
          <% if !tag.new_record? %>
          <tr>
            <td><%= tag.tag %></td>
            <% if @image.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
            <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <br>
    <% if @image.user_id == current_user.id %>
    <h3>Create New Tag</h3>
    <%= render 'tags/form' %>
    <% end %>







  <% end %>

<% end %>


<br>
<%= link_to 'Back to Images', images_path %> | <a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">AWS Home Page</a>
