<%= form_for(@doi) do |f| %>
  <% if @doi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doi.errors.count, "error") %> prohibited this DOI from being saved:</h2>

      <ul>
      <% @doi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <br>

  <%= f.fields_for :urls do |urls_form| %>
   <div class="field">
      <%= urls_form.label :url %><br>
      <%= urls_form.text_field :url %>
   </div>
  <% end %>

  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>

<% end %>
