<style>
div {
background-color: white;
width: 666px;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
</style>
<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: #cccccc;
}
</style>
<div>

<h1>DOI Server</h1>

<a href="http://en.wikipedia.org/wiki/Digital_object_identifier">Exactly what is a DOI?</a>


<br>
<br>
<br>
    <%= label_tag(:query, "Search DOI: ") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Lookup") %>
    <p style="color:red">  LOOKUP UNDER CONSTRUCTION</p>


<!--display below for debugging and sanity until lookup is working -->

<table cellpadding="4" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Key</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>


<br>
<br>
  <tbody>
    <% @dois.each do |doi| %>
      <tr>
        <td><%= doi.name %></td>
        <td><%= doi.description %></td>
        <td><%= doi.key %></td>
        <td><%= link_to 'Show', doi %></td>
        <td><%= link_to 'Edit', edit_doi_path(doi) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>


<%= link_to 'New DOI', new_doi_path %>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
</div>
