<h1>DOI Server</h1>

<table cellpadding="4" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Key</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @dois.each do |doi| %>
      <tr>
        <td><%= doi.name %></td>
        <td><%= doi.description %></td>
        <td><%= doi.key %></td>
        <!-- <td>doi.key</td> -->
        <td><%= link_to 'Show', doi %></td>
        <td><%= link_to 'Edit', edit_doi_path(doi) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'New DOI', new_doi_path %>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
