<style>
#body {
background-color: white;
width: 666px;
padding: 25px;
border: 25px solid navy;
margin: 25px;
}
#article {
background-color:white;
width: 355px;
border: 25px solid navy;
padding: 25px;
margin: 25px;
}

th {
    text-align: left;
}

</style>
<style>
body {
background-image: url("http://i.imgur.com/kLrAW0x.jpg");
background-color: grey;
}
</style>
<div>



<div id="body">
<p id="notice"><%= notice %></p>
<h1><%= @doi.name %></h1>
<p>
  <strong>Key:</strong>
  <%= @doi.key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doi.description %>
</p>


<p>
  <strong>Most Recent URL:</strong>
  <a href="<%= @doi.urls[-2].url %>"><%= @doi.urls[-2].url %></a>
</p>


<table cellpadding="4" border="1" width=100%>
  <thead>
      <tr>
        <th>URL History</th>
        <th>Timestamp</th>
    </tr>
  </thead>

  <tbody>
    <% @doi.urls.each do |url| %>
      <% if !url.new_record? %>
      <tr>
        <td><a href="<%=url.url%>"><%=url.url %></a></td>
        <td><%= url.created_at %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>



<div id="article">
<h3>Create New URL</h3>
<%= render 'urls/form' %>
<%= link_to "Edit #{@doi.name}", edit_doi_path(@doi) %> |
<%= link_to 'Show all DOIs', dois_path %>
<br>
<%= link_to 'Search', root_path %>
<br>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
</div>
