<p id="notice"><%= notice %></p>
<h1><%= @doi.name %></h1>
<p>
  <strong>Key:</strong>
  <%= @doi.key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @doi.description %>
</p>



<br>
<br>

<!-- this table use to be in app/views/ratings/index.html.erb -->
<table cellpadding="4" border="1">
  <thead>
      <tr>
        <th>URLS and History</th>
        <th>Timestamp</th>
    </tr>
  </thead>

  <tbody>
    <% @doi.urls.each do |url| %>
      <% if !url.new_record? %>
      <tr>
        <td><%= url.url %></td>
        <td><%= url.created_at %></td>
       </tr>
       <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>
<h3>Create New URL</h3>
<%= render 'urls/form' %>
<br>
<br>
<%= link_to "Edit #{@doi.name}", edit_doi_path(@doi) %> |
<%= link_to 'Show all DOIs', dois_path %>
<br>
<a href="http://ec2-54-68-223-204.us-west-2.compute.amazonaws.com/">Home Page</a>
