<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
}
th {
  background-color: navy;
}     
td {
  background-color: whitesmoke;
}   
</style> 


<table width="25%" align="center">
<tr><th><h3><font color="white">Forgot Your Password?</font></h3></th></tr>
<tr><td>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>
  <br>
  <div><%= f.submit "Send Reset Instructions" %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>
<br>
<%= link_to "All Songs", root_path %>
</td></tr>
</table>
